* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.header_box_21126107 {
  display: flex;
  align-items: center;
  height: 60px;
  background-color: brown;
  justify-content: space-between;
  padding: 0 50px 0 20px;
}
.header_nav_202126107 {
  display: flex;
  align-items: center;
  list-style: none;
  gap: 30px;
  color: aliceblue;
  margin-bottom: 0;
}
.header_nav_202126107 li {
  text-transform: uppercase;
}
.header_nav_202126107 li:hover {
  cursor: pointer;
  color: aquamarine;
}
.header_logo_21126107 {
  color: aliceblue;
}

/* body */
.body_img_21126107 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.body_img_21126107 {
  height: 130px;
  width: 180px;
  overflow: hidden;
  border-radius: 6px;
}
.body_container_21126107 {
  display: flex;
  margin-top: 20px;
  justify-content: center;
}
.body_img_container_21126107 {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 1000px;
  gap: 10px 30px;
}
.body_img_21126107.zoom {
  transition: transform 0.2s; /* Animation */
  margin: 0 auto;
}

.body_img_21126107.zoom:hover {
  cursor: pointer;
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.body_profile_container_21126107 {
  padding: 20px 0 20px 0;
}
.body_profile_21126107 {
  background-color: blue;
  color: aliceblue;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 0 10px 0;
}
.body_profile_card_conatiner_21126107 {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin: 10px 0px;
}
.body_profile_card_21126107 {
  width: 230px;
  background-color: black;
  padding: 20px 15px 20px 15px;
  border-radius: 6px;
}
.card_img_box_21126107 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card_img_box_21126107 {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border: 3px solid red;
  border-radius: 50%;
  margin: auto;
}
.card_name_21126107 {
  color: white;
  text-align: center;
  margin-top: 10px;
  font-size: 18px;
}
.card_major_21126107 {
  color: brown;
  font-size: 15px;
  text-align: center;
}
.card_icon_21126107 {
  display: flex;
  align-items: center;
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
  justify-content: space-around;
}
.card_icon_21126107 li a i {
  color: white;
}
.card_icon_21126107 li a i:hover {
  color: aqua;
}
.card_button_box_21126107 {
  display: flex;
  justify-content: center;
}
.card_button_21126107 {
  margin-top: 30px;
  margin-bottom: 40px;
  border: 1px solid brown;
  padding: 5px 10px;
  border-radius: 8px;
}
.card_button_21126107 a {
  color: white;
  text-decoration: none;
}
.footer_profile_21126107 {
  background-color: beige;
  padding: 10px 30px 10px 30px;
}
.navs_2021126107 {
  position: relative;
}
.menu_nav_2021126107 {
  top: 42px;
  color: black;
  background-color: aqua;
  width: 100%;
  text-align: center;
  position: absolute;
  display: none;
}
.home_2021126107:hover ~ .menu_nav_2021126107 {
  display: block;
}
